* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0;
    padding: 19px 36px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 226px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.banner {
    margin: 0px 226px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-des {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 131px;
    padding: 131px 157px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
}

.section-des {
    color: #757575;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.about-info-container {
    justify-content: space-around;
    display: flex;
}

.what-i-do {
    margin: 130px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title-description {
    text-align: center;
    margin-bottom: 50px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.resume-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px
}

.resume-des {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

.contact {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 230px;

}

.hello {
    font-weight: 700;
    font-size: 35px;
}

input,
textarea {
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
}

a {
    text-decoration: none;
}